@import '../scss/variables.scss';
@import '../scss/editAndNew.scss';

html, body {
    margin: 0;
    padding: 0;
    background-color: $background-dark;
    color: $text-primary;
    line-height: 1.8;
    font-family: $font-secondary;
    font-weight: $regular;
    font-size: $large;
}
  
a {
    text-decoration: none;
    color: $tertiary-dark;
    font-family: $font-primary;
    font-weight: v$regular;
    font-size: $large;
}

button {
    cursor: pointer;
    color: #fff;
    border: none;
    height: 3rem;
    border-radius: 8px;
    font-family: $font-primary;
    font-weight: $bold;
    font-size: $large;
}

.invalid-button {
    background-color: $element-primary;
    opacity: 0.6;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    font-weight: $bold;
    font-size: $header-one;
}

h2 {
    padding: 0;
    margin: 0;
    font-family: $font-primary;
    font-weight: $bold;
    font-size: $header-two;
}

.back-button {
    font-family: $font-primary;
    font-weight: $bold;
    font-size: $medium;
}

.input-title {
    font-family: $font-primary;
    font-weight: $semibold;
    font-size: $small;
}

input, textarea {
    border: none;
    min-height: 3rem;
    border-radius: 8px;
    width: 21rem;
    padding-left: 1rem;
    font-family: $font-secondary;
    font-weight: $regular;
    font-size: $small;
}

.required-border {
    border: 1px solid $element-primary;
}

.remove-error {
    display: none;
}

.empty {
    font-family: $font-primary;
    font-weight: $regular;
    font-size: $large;
}

.error-msg {
    font-style: italic;
    font-family: $font-primary;
    font-weight: $regular;
    font-size: $small;
    color: $element-primary;
    display: none;
}

.listing {
    font-family: $font-secondary;
    font-weight: $semibold;
    font-size: $medium;
}

.icon {
    max-width: 1rem;
    max-height: 1rem;
}

/* ==========================================================================
    Mobile Styles
    ========================================================================== */

@media (max-width: 87em) {
    html, body, button, input, textarea, select, .input-title, .error-msg, .listing {
        font-size: $mobile-small;
    }

    h1 {
        font-size: $mobile-large;
    }

    h2, .empty {
        font-size: $mobile-medium;
    }

    .icon {
        max-width: 1.4rem;
        max-height: 1.4rem;
    }
}
